[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
mysqlclient = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.11"
